[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
pillow = "*"
ipykernel = "*"
torch = "*"
matplotlib = "*"
seaborn = "*"
opencv-python = "*"
torchvision = "*"
requests = "*"
transformers = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.14"
